/* Regular */
@font-face {
    font-family: "Avenir";
    src: url(../../assets/fonts/AvenirNext-regular.otf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Demi */
@font-face {
    font-family: "Avenir";
    src: url(../../assets/fonts/AvenirNext-medium.otf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: "AvenirBoldNormal";
    src: url(../../assets/fonts/AvenirNext-bold.otf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
