@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles"as text;

.comments {
&__container {
    padding: 1rem;
}
&__img {
    background-color: $mercury;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1rem;
}

&__content-container {
    border-bottom: 2px solid $mercury;
}
&__name {
    @include text.body-copy-mobile;
    font-weight: 600;
}
}