@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles"as text;

.comments {
&__border{
    width: 100%;
    border-bottom: 1px solid $mercury;
}
&__container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    @include breakpoints.medium {
    padding-left: 5rem;
    padding-right: 5rem;
    }
    @include breakpoints.large {
        padding-left: 15rem;
        padding-right: 15rem;
    }
}
&__content-container {
    display: flex;
    margin-bottom: 0.5rem;
}
&__img-container {
    display: flex;
}
&__img {
    flex-shrink: 0;
    background-color: $mercury;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1rem;
}
&__text{
    color: $black;
    margin-top: 0;
    padding-left: 0.5rem;
    @include text.body-copy-mobile;
}
&__name {
    @include text.body-copy-mobile;
    font-weight: 600;
    margin-left: 0.5rem;
    margin-bottom: 0;
}
&__date {
    @include text.subheader-mobile;
    font-weight: 400;
    color: $silver;
    margin-bottom: 0;
}
&__name-date {
    display: flex;
    justify-content: space-between;
}
&__item-container {
    display: flex;
    flex-wrap: wrap;
}
}