@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles"as text;

.comments {
&__container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}
&__date {
    @include text.subheader-mobile;
    font-weight: 400;
    color: $silver;
}
&__img {
    background-color: $mercury;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1rem;
}
&__content-container {
    display: flex;
    padding-left: 1rem;
    width: 60%;
}
&__content{
    @include text.body-copy-mobile;
    margin: 0 0 0 3.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $mercury;
}
&__name {
    @include text.body-copy-mobile;
    font-weight: 600;
    margin-right: 7rem;
    margin-bottom: 0;
}
}