@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles"as text;

.comments {
&__container {
    display: flex;
    flex-wrap: wrap;
    @include breakpoints.medium {
        max-width: 60%;
        margin-left: 15rem;
    }
}
&__content-container {
    display: flex;
    padding-left: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid $mercury;
}
&__img-container {
    display: flex;
}
&__img {
    flex-shrink: 0;
    background-color: $mercury;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.6rem;
    margin-left: 0.5rem;
}
&__content{
    color: $black;
    margin-top: 0;
    padding-left: 0.5rem;
    @include text.body-copy-mobile;
}
&__name {
    @include text.body-copy-mobile;
    font-weight: 600;
}
&__date {
    @include text.subheader-mobile;
    font-weight: 400;
    color: $silver;
    padding-right: 1rem;
    margin-bottom: 0;
}
&__name-date {
    display: flex;
    justify-content: space-between;
}
&__item-container {
    display: flex;
    flex-wrap: wrap;
}
}