@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles"as text;

.comments {
&__container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    @include breakpoints.medium {
        justify-content: center;
    }
}
&__date {
    @include text.subheader-mobile;
    font-weight: 400;
    color: $silver;
}
&__img {
    background-color: $mercury;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    position: absolute;

    @include breakpoints.medium {
        margin-left: 10rem;
    }
}
&__content-container {
    display: flex;
    padding-left: 1rem;
    max-width: 60%;
}
&__wrapper-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include breakpoints.medium {
        justify-content: space-around;
    }
}
&__content{
    @include text.body-copy-mobile;
    margin: 0 0 0 3.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $mercury;
    @include breakpoints.medium {
        margin-left: 8rem;
        max-width: 60%;
    }
}
&__name {
    @include text.body-copy-mobile;
    font-weight: 600;
    padding-left: 3.5rem;
    margin-bottom: 0;
    @include breakpoints.medium {
        padding-left: 5rem;
    }
}
}