@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles"as text;

.footer{
    background-color: $black;
    padding: 1rem;
    color: $white;
&__title {
    @include text.section-header-mobile;
}
&__icon {
    margin-right: 1.2rem;
    margin-bottom: 2rem;
    width: 1.5rem;
    height: 1.5rem;
}
&__text-title {
    @include text.subheader-mobile;
}

&__text-subtitle{
    margin-top: 0;
    @include text.subheader-mobile;
}
&__text {
    width: 60%;
    @include text.body-copy-mobile;
}
// &__text-email {
//     padding-bottom: 1rem;
// }
&__content {
    margin-top: 1rem;
}
}