@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles"as text;

.footer{
    position: relative;
    background-color: $black;
    padding: 1rem;
    color: $white;
    @include text.footer-copy-desktop-tablet;
    @include breakpoints.medium {
        padding: 2rem;
    }
    @include breakpoints.large {
        padding: 2rem 6rem;
    }
&__title-icon-container {
    @include breakpoints.medium {
        display: flex; 
        align-items: center;
    }
}
&__title {
    font-weight: 500;
    padding-bottom: 0.5rem;
    @include breakpoints.medium {
        margin-right: 1.5rem;
    }
}
&__icons-container {
    padding-bottom: 0.5rem;
}
&__icon {
    margin-right: 1.2rem;
    width: 1.5rem;
    height: 1.5rem;
    @include breakpoints.medium {
        margin-left: 0.5rem;
    }
    @include breakpoints.large {
        margin-right: 0.5rem;
    }
}
&__text-title {
    font-weight: 600;
}
&__text-subtitle{
    margin-top: 0;
    font-weight: 600;
    @include breakpoints.large {
        margin-bottom: 1.5rem;
    }
}
&__text {
    @include breakpoints.large {
        margin-bottom: 1.5rem;
    }
}
&__text-email {
    color: $white;
    text-decoration: none;
}
&__content-container {
    @include breakpoints.medium {
        display: flex;
        padding-top: 0;
    }
}
&__content {
    max-width: 1280px;
    margin-top: 1rem;
    @include breakpoints.medium {
        padding-right: 2.5rem;
    }
    @include breakpoints.large {
        padding-right: 5rem;
    }
}
&__logo-container {
    margin-top: 4rem;
}
&__logo {
    @include breakpoints.medium {
        position: absolute;
        top: 3rem;
        left: 38rem;
    }
    @include breakpoints.large {
        top: 3rem;
        left: 67rem;
    }
}
&__text-copyright {
    width: 100%;
    font-size: 0.6rem;
    margin-bottom: 0;
    @include breakpoints.medium {
        margin-bottom: 0;
    }
}
}