@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles" as text;

.header {
    background-color: $black;
    margin: 0;
    @include breakpoints.medium {
        display: flex;
        justify-content: flex-start;
        padding-left: 3rem;
    }
    @include breakpoints.large {
        padding-top: 0;
        padding-left: 8rem;
    }

&__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    @include breakpoints.medium {
        margin: 0 2.5rem 0.5rem 0;
    }
}
&__navigation {
    margin-bottom: 0;
    @include text.section-header-mobile;
}
&__list {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
}
&__list-item {
   list-style: none;
   color: $white;
   width: 50%;
   text-align: center;
   padding-bottom: 0.5rem;
   font-weight: 500;
   font-size: 1rem;
    &--bb {
        border-bottom: 0.25rem solid $white;
    }
   @include breakpoints.medium {
       margin-left: 2rem;
       padding-bottom: 1rem;
   }

}
}
