@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles" as text;

.header {
    background-color: $black;
    margin: 0;
    @include breakpoints.medium {
        display: flex;
        justify-content: flex-start;
        padding-left: 2rem;
        padding-top: 0.5rem;
    }
    @include breakpoints.large {
        padding-top: 1rem;
        padding-left: 8rem;
    }

&__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    @include breakpoints.medium {
        margin: 0 2.5rem 0.5rem 0;
        padding-top: 0;
    }
}
&__navigation {
    margin-bottom: 0;
    @include text.section-header-mobile;
}
&__list {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 0.2rem; 
    margin-bottom: 0;
    width: 100%;
}
&__list-item {
   list-style: none;
   color: $mercury;
   width: 50%;
   text-align: center;
   padding-bottom: 0.5rem;
   margin-right: 1rem;
   font-weight: 300;
   font-size: 0.875rem;
    &--active {
        border-bottom: 0.25rem solid $white;
        font-weight: 600;
    }
    &--active:hover {
        font-weight: 400;
        transition: 0.3s ease-in-out;
    }
   @include breakpoints.medium {
       margin-left: 2rem;
   }
}
&__list-link {
    text-decoration: none;
    color: $white;
}
}
