@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles"as text;

.hero {
&__title {
    margin-left: 1rem;
    @include text.page-header-mobile;
    letter-spacing: 0.1rem;
    @include breakpoints.medium {
        @include text.section-header-desktop-tablet;
        letter-spacing: 0.1rem;
    }
    @include breakpoints.large {
        @include text.section-header-desktop-tablet;
        padding-left: 4rem;
    }
}

&__title-container {
    background-image: 
    linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(/assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: 100% 0%;
    height: 45vh;
    display: flex;
    align-items: center;
    color: $white;
    @include breakpoints.medium {
        height: 80vh;
    }
    @include breakpoints.large {
        height: 80vh;
        background-position: 80% 20%;
    }
}
}

.about {
&__title {
    padding-left: 1rem;
    padding-top: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    @include text.page-header-mobile;
    @include breakpoints.medium {
    @include text.section-header-desktop-tablet;
    }
    @include breakpoints.large {
        @include text.subheader-desktop-tablet;
        padding: 2rem 0 1rem 13rem;
    }
}
&__image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
&__image {
    width: 100%;
    padding: 0.5rem 1rem;
    @include breakpoints.medium {
        height: 45vh;
        width: 75vw;
        padding-top: 1rem;
        }
    @include breakpoints.large {
        height: 60vh;
        }
    }
&__quote {
    margin-top: 0;
    padding: 0 1rem;
    width: 100%;
    @include text.subheader-mobile;
    @include breakpoints.medium {
        width: 60%;
        font-size: 1.1rem;
    }
    @include breakpoints.large {
        width: 40%;
        font-weight: 600;
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
        margin-right: 16rem;
        //weight and size differed from style-guide
    }
}
&__quote-span {
    @include breakpoints.medium {
       @include text.body-copy-desktop-tablet;
       font-size: 0.75rem;
       font-weight: 600;
    @include breakpoints.large {
        font-size: 0.6rem;
    }
    }
}
}

.bio {
    padding: 0 1rem;
&__title {
    @include text.subheader-mobile;
    @include breakpoints.medium {
    margin-bottom: 0;
    padding-top: 1rem;
    padding-left: 7rem;
    }
    @include breakpoints.large {
        padding-left: 14rem;
        @include text.subheader-desktop-tablet;
        font-size: 1.2rem;
    }
}
&__content-container {
    @include breakpoints.medium {
        display: flex;
        justify-content: center;
        padding: 0 2rem;
        margin-right: 0;
    }
}
&__content {
    @include text.body-copy-mobile;
    @include breakpoints.medium {
        padding: 1rem 1rem;
        margin-top: 0;
        width: 40%;
    }
    @include breakpoints.large {
        width: 35%;
    }
}
}

.gallery {
    background-color: $alabaster;
&__title {
    padding: 1.5rem 0 1rem 1rem;
    margin-top: 0;
    margin-bottom: 0;
    // @include section-header-mobile;
    @include breakpoints.medium {
        padding-left: 2rem;
        font-weight: 600;
    }
    @include breakpoints.large {
        padding-left: 8rem;
    }
}
&__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include breakpoints.medium {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 1rem;
    }
    @include breakpoints.large {
        width: 60%;
        justify-content: center;
        margin: 0 auto;
    }
}
&__img {
    height: auto;
    max-width: 80vw;
    padding: 0.5rem 1rem;
    @include breakpoints.medium {
        max-width: 15rem;
        padding: 0.5rem;
    }
    @include breakpoints.large {
        width: 30%;
    }
}
}