@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles"as text;

/* Hero section */ 
.hero {
&__title {
    margin-left: 1rem;
    @include text.page-header-mobile;
    letter-spacing: 0.1rem;
    @include breakpoints.medium {
        @include text.page-header-desktop-tablet;
        font-size: 3rem;
        padding-left: 1rem;
        letter-spacing: 0.1rem;
    }
    @include breakpoints.large {
        @include text.page-header-desktop-tablet;
        padding-left: 4rem;
    }
}

&__title-container {
    background-image: 
    linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 30vh;
    display: flex;
    align-items: center;
    color: $white;
    @include breakpoints.medium {
        height: 60vh;
    }
    @include breakpoints.large {
        height: 80vh;
        background-position: 80% 20%;
    }
}
}

/* About section */
.about {
&__title {
    color: $black;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    @include text.page-header-mobile;
    @include breakpoints.medium {
    @include text.section-header-desktop-tablet;
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 3rem;
    }
    @include breakpoints.large {
        @include text.section-header-desktop-tablet;
        padding: 2rem 0 1rem 13rem;
    }
}
&__image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include breakpoints.large {
        padding: 0 15rem;
    }
}
&__image {
    width: 100%;
    padding: 0.5rem 1rem;
    @include breakpoints.medium {
        height: auto;
        width: 75vw;
        padding-top: 1rem;
        }
    @include breakpoints.large {
        width: 100%;
        height: auto;
        }
    }
&__quote {
    color: $black;
    margin-top: 0;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    @include text.subheader-mobile;
    @include breakpoints.medium {
        padding-top: 1rem;
        width: 75%;
        font-size: 1.1rem;
        line-height: 2rem;
    }
    @include breakpoints.large {
    @include text.subheader-desktop-tablet;
        width: 70%;
        font-weight: 600;
        line-height: 1.5rem;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        margin-right: 15rem;
        //weight and size differed from style-guide
    }
}
&__quote-span {
    @include breakpoints.medium {
       @include text.body-copy-desktop-tablet;
       font-size: 0.8rem;
       font-weight: 600;
       padding-top: 0;
    }
}
}

/* Biography section */
.bio {
    padding: 0 1rem;
&__title {
    @include text.subheader-mobile;
    font-weight: 600;
    @include breakpoints.medium {
    @include text.subheader-desktop-tablet;
    margin: 0 0 0 0.5rem;
    font-size: 1rem;
    padding-top: 1rem;
    padding-left: 6.5rem;
    }
    @include breakpoints.large {
        padding-left: 14.5rem;
        @include text.subheader-desktop-tablet;
        font-size: 1.2rem;
    }
}
&__content-container {
    @include breakpoints.medium {
        display: flex;
        justify-content: center;
        padding: 0 1rem;
        margin-left: 1rem;
    }
    @include breakpoints.large {
        padding: 0;
    }
}
&__content {
    @include text.body-copy-mobile;
    @include breakpoints.medium {
        padding: 0.5rem 1rem;
        margin-top: 0;
        width: 40%;
    }
    @include breakpoints.large {
        width: 35%;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
}
}

/* Photo gallery */ 
.gallery {
    background-color: $alabaster;
&__title {
    padding: 1.5rem 0 1rem 1rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    @include breakpoints.medium {
        padding-left: 3rem;
        padding-bottom: 0.5rem;
        font-weight: 600;
    }
    @include breakpoints.large {
        padding-left: 5.5rem;
    }
}
&__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include breakpoints.medium {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 1rem;
    }
    @include breakpoints.large {
        margin: 0 auto;
        padding: 1rem;
    }
}
&__img {
    height: auto;
    max-width: 100vw;
    padding: 0.5rem 1rem;
    @include breakpoints.medium {
        padding: 0.5rem;
        width: 30%;
    }
}
}