@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles"as text;

/* Hero section */ 
.hero {
&__title {
    margin-left: 1rem;
    @include text.page-header-mobile;
    letter-spacing: 0.1rem;
    @include breakpoints.medium {
        @include text.page-header-desktop-tablet;
        font-size: 3rem;
        padding-left: 1rem;
        letter-spacing: 0.1rem;
    }
    @include breakpoints.large {
        @include text.page-header-desktop-tablet;
        padding-left: 4rem;
    }
}

&__title-container {
    background-image: 
    linear-gradient(to bottom, rgba(50,50,50,0.5), rgba(50,50,50,0.5)),
    url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 30vh;
    display: flex;
    align-items: center;
    color: $white;
    @include breakpoints.medium {
        height: 60vh;
    }
    @include breakpoints.large {
        height: 80vh;
        background-position: 80% 20%;
    }
}
}

/* About section */
.about {
&__title {
    color: $black;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    @include text.page-header-mobile;
    @include breakpoints.medium {
    @include text.section-header-desktop-tablet;
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 3rem;
    }
    @include breakpoints.large {
        @include text.section-header-desktop-tablet;
        padding: 2rem 0 1rem 13rem;
    }
}
&__image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include breakpoints.large {
        padding: 0 15rem;
    }
}
&__image {
    width: 100%;
    padding: 0.5rem 1rem;
    @include breakpoints.medium {
        height: auto;
        width: 75vw;
        padding-top: 1rem;
        }
    @include breakpoints.large {
        width: 100%;
        height: auto;
        }
    }
&__quote {
    color: $black;
    margin-top: 0;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    @include text.subheader-mobile;
    @include breakpoints.medium {
        padding-top: 1rem;
        width: 75%;
        font-size: 1.1rem;
        line-height: 2rem;
    }
    @include breakpoints.large {
    @include text.subheader-desktop-tablet;
        width: 70%;
        font-weight: 600;
        line-height: 1.5rem;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        margin-right: 15rem;
    }
}
&__quote-span {
    @include breakpoints.medium {
       @include text.body-copy-desktop-tablet;
       font-size: 0.8rem;
       font-weight: 600;
       padding-top: 0;
    }
}
}

/* Biography section */
.bio {
    padding: 0 1rem;
    width: 75%;
    margin: 0 auto;
    @include breakpoints.large {
        width: 63%;
    }
&__title-container {
    display: flex;
    justify-content: flex-start;
}
&__title {
    color: $dark-black;
    @include text.subheader-mobile;
    font-weight: 600;
    @include breakpoints.medium {
    @include text.subheader-desktop-tablet;
    margin: 0;
    font-size: 1rem;
    }
    @include breakpoints.large {
        @include text.subheader-desktop-tablet;
        font-size: 1.2rem;
    }
}
&__content-container {
    @include breakpoints.medium {
        display: flex;
        justify-content: center;
    }
}
&__content-text {
    margin-top: 0;
}
&__content-text-left {
    padding-right: 1.1rem;
}
&__content {
    color: $black;
    justify-content: center;
    @include text.body-copy-mobile;
    @include breakpoints.medium {
        padding: 0.5rem 0rem;
        margin-top: 0;
    }
}

}

/* Photo gallery */ 
.gallery {
    background-color: $alabaster;
    padding-bottom:0.5rem;
&__title {
    color: $black;
    padding: 1.5rem 0 1rem 1rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    @include breakpoints.medium {
        padding-left: 3rem;
        padding-bottom: 0.5rem;
        font-weight: 600;
    }
    @include breakpoints.large {
        padding-left: 5.5rem;
    }
}
&__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include breakpoints.medium {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 1rem;
    }
    @include breakpoints.large {
        margin: 0 auto;
        padding: 1rem;
    }
}
&__img {
    height: auto;
    max-width: 100vw;
    padding: 0.5rem 1rem;
    @include breakpoints.medium {
        padding: 0.5rem;
        width: 30%;
    }
}
}

/* Form */

.form {
&__display {
    display: flex;
    justify-content: center;
}
&__title {
    color: $black;
    @include text.page-header-mobile;
    padding-left: 1rem;
    @include breakpoints.medium {
        padding-left: 3rem;
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
    @include breakpoints.large {
        padding-left: 6rem;
    }
}
&__img {
    background-image: url(../assets/images/Mohan-muruge.jpg);
    background-size: cover;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
    @include breakpoints.medium {
        margin-right: 0.5rem;
    }
}
&__label {
    @include text.labels-buttons-mobile;
    font-weight: 400;
    color: $silver;
    text-transform: uppercase;
}
&__input {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: $alabaster;
    border: 1px solid $mercury;
    width: 70vw;
    padding: 0.5rem;
    margin-bottom: 1rem;
    @include breakpoints.medium {
        padding: 1rem;
    }
    @include breakpoints.large {
        width: 57vw;
    }
}
&__input-body {
    padding-bottom: 4rem;
}
&__button {
    @include breakpoints.medium {
        display: flex;
        justify-content: flex-end;
    }
}
&__button-submit {
    width: 100%;
    @include text.labels-buttons-mobile;
    font-weight: 400;
    font-size: 0.875rem;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    color: $white;
    background-color: $black;
    text-transform: uppercase;
    @include breakpoints.medium {
        width: 30%;
    }
}
&__button-submit:hover {
    background-color: $dark-black;
    transition: 0.3s ease-in-out;
}
}

   
/*

*/