@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles"as text;

/* Hero section */
.hero {
        &__title-container {
            background-image:
                linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(../assets/images/hero-shows.jpg);
            background-size: cover;
            background-position: 50% 50%;
            height: 50vh;
            color: $white;
            @include breakpoints.medium {
                height: 60vh;
                background-position: 70% 30%;
            }
            @include breakpoints.large {
                display: flex;
                align-items: center;
                height: 80vh;
            }
        }
        &__title-album {
            margin-top: 0;
            padding: 2rem 1rem 1rem;

            @include breakpoints.medium {
                @include text.body-copy-desktop-tablet;
                padding-top: 3rem;
                padding-bottom: 0;
                margin-left: 1rem;
                margin-bottom: 0;
                font-size: 1rem;
            }
            @include breakpoints.large {
                margin-left: 6rem;
            }
        }

        &__title {
            margin-left: 1rem;
            margin-top: 0;
            margin-bottom: 0;
            @include text.page-header-mobile;
            letter-spacing: 0.1rem;
            @include breakpoints.medium {
                @include text.page-header-desktop-tablet;
                font-size: 3rem;
                padding-left: 1rem;
                letter-spacing: 0.1rem;
                line-height: 3.5rem;
            }
            @include breakpoints.large {
                @include text.page-header-desktop-tablet;
                margin-left: 6rem;
            }
        }
        &__iframe {
            padding: 1rem 0.5rem 1.5rem 1.5rem;
            width: 95%;
            height: 25vh;
            @include breakpoints.medium {
                max-width: 40%;
                height: 25vh;
                padding-left: 2rem;
                padding-bottom: 3rem;
                height: 30vh;
         } 
            @include breakpoints.large {
                max-width: 100%;
                margin-left: 4rem;
                margin-top: 5rem;
            }
    }
}

