@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles"as text;

.hero {
&__title {
    margin-left: 1rem;
    @include text.section-header-mobile;
    @include breakpoints.medium {
        @include text.section-header-desktop-tablet;
        font-weight: 600;
        letter-spacing: 0.1rem;
    }
}

&__title-container {
    background-image: 
    linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(/assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: 100% 0%;
    height: 55vh;
    display: flex;
    align-items: center;
    color: $white;
    @include breakpoints.medium {
        height: 100vh;
    }
}
}

.about {
&__title {
    padding-left: 1rem;
    padding-top: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    // @include text.section-header-mobile;
}
&__image-container {
    display: flex;
    justify-content: center;
}
&__image {
    width: 100%;
    padding: 1rem 1rem;
    @include breakpoints.medium {
        height: 90vh;
        width: 70vw;
    }
    }
&__quote {
    margin-top: 0;
    padding: 0 1rem;
    @include text.subheader-mobile;
}
}

.bio {
    padding: 0 1rem;
&__content {
    @include text.body-copy-mobile;
}
}

.gallery {
    background-color: $alabaster;
&__title {
    padding: 1.5rem 0 1rem 1rem;
    margin-top: 0;
    margin-bottom: 0;
    // @include section-header-mobile;
}
&__container {
    display: flex;
    flex-direction: column;
}
&__img {
    height: auto;
    width: 100vw;
    padding: 0.5rem 1rem;
}
}