@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles"as text;

/* Hero section */
.hero {
        &__title-container {
            display: flex;
            align-items: center;
            background-image:
                linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(../assets/images/hero-shows.jpg);
            background-size: cover;
            background-position: 50% 50%;
            height: 60vh;
            color: $white;

    
            @include breakpoints.large {
                height: 70vh;
            }
        }

        &__title-album {
            margin-top: 0;
            padding: 2rem 1rem 1rem;
        }

        &__title {
            margin-left: 1rem;
            @include text.page-header-mobile;
            letter-spacing: 0.1rem;

            @include breakpoints.medium {
                @include text.page-header-desktop-tablet;
                font-size: 3rem;
                padding-left: 1rem;
                letter-spacing: 0.1rem;
            }

            @include breakpoints.large {
                @include text.page-header-desktop-tablet;
                padding-left: 4rem;
            }
        }
        &__iframe {
            padding: 1rem 0 1rem 2rem;
            width: 90%;
            height: 30vh;
}
}
