@use "../colors"as *;
@use "../breakpoints"as breakpoints;
@use "../text-styles"as text;

.shows {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
    @include breakpoints.medium {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__item-wrapper{
        border-bottom: 1px solid $mercury;
        @include breakpoints.medium {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }
    }
    &__title {
        @include text.page-header-mobile;
        padding-left: 1rem;
        margin-bottom: 0;
    }
    &__item-title {
        @include text.subheader-mobile;
        color: $silver;
        text-transform: uppercase;
        padding-top: 0.1rem;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 0.6rem;
    }
    &__item-text {
        @include text.body-copy-mobile;
        margin: 0;
    }
    &__item-button {
        @include text.labels-buttons-mobile;
        font-size: 0.875rem;
        margin-top: 1rem;
        padding: 0.8rem;
        border: none;
        border-radius: 6px;
        color: $white;
        background-color: $black;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        width: 100%;

        @include breakpoints.medium {
            width: 22%;
            margin-bottom: 1rem;
        }
    }
}