/* Regular */
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNext-regular.ttf) format("truetype");
  font-weight: 400;
}
/* Demi */
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNext-demi.ttf) format("truetype");
  font-weight: 600;
}
/* Bold */
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNext-bold.ttf) format("truetype");
  font-weight: 700;
}
/* Mobile text styles */
/* Desktop text styles */
/* Primary colors */
/* Secondary colors */
/* Media query for mobile */
/* Media query for tablet */
/* Media query for high pixel density devices */
.header {
  background-color: #323232;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0 1.5rem 3rem;
  }
}
.header__logo-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
@media only screen and (min-width: 768px) {
  .header__logo-container {
    margin: 0 3rem 0 2rem;
  }
}
.header__navigation {
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
.header__list {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
}
.header__list-item {
  list-style: none;
  color: #FFFFFF;
  width: 50%;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .header__list-item {
    padding-left: 3rem;
  }
}
.header__list-item--bb {
  border-bottom: 0.3rem solid #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .header__list-item--bb {
    border-bottom: none;
  }
}

.hero__title {
  margin-left: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .hero__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
}
.hero__title-container {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: 100% 0%;
  height: 55vh;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .hero__title-container {
    height: 100vh;
  }
}

.about__title {
  padding-left: 2rem;
  padding-top: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}
.about__image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__image {
  width: 100%;
  padding: 1rem 1rem;
}
@media only screen and (min-width: 768px) {
  .about__image {
    height: 90vh;
    width: 70vw;
  }
}
.about__quote {
  margin-top: 0;
  padding: 0 1rem;
  width: 70%;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .about__quote-span {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    font-size: 0.75rem;
    font-weight: 600;
  }
}

.bio {
  padding: 0 1rem;
}
@media only screen and (min-width: 768px) {
  .bio__title {
    margin-bottom: 0;
    padding-top: 1rem;
    padding-left: 7rem;
  }
}
@media only screen and (min-width: 768px) {
  .bio__content-container {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    margin-right: 0;
  }
}
.bio__content {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .bio__content {
    padding: 1rem 1rem;
    margin-top: 0;
    width: 40%;
  }
}

.gallery {
  background-color: #FAFAFA;
}
.gallery__title {
  padding: 1.5rem 0 1rem 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .gallery__title {
    padding-left: 2rem;
  }
}
.gallery__container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .gallery__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
  }
}
.gallery__img {
  height: auto;
  width: 100vw;
  padding: 0.5rem 1rem;
}
@media only screen and (min-width: 768px) {
  .gallery__img {
    width: 15rem;
    padding: 0.5rem;
  }
}

.footer {
  background-color: #323232;
  padding: 1rem;
  color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__title-icon-container {
    display: flex;
    align-items: center;
  }
}
.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .footer__title {
    padding-right: 1.5rem;
  }
}
.footer__icon {
  margin-right: 1.2rem;
  margin-bottom: 2rem;
  width: 1.5rem;
  height: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .footer__icon {
    margin-bottom: 0;
  }
}
.footer__text-title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
.footer__text-subtitle {
  margin-top: 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
.footer__text {
  width: 60%;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .footer__text {
    width: 65%;
  }
}
.footer__text-email {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .footer__content-container {
    display: flex;
    padding-top: 0;
  }
}
.footer__content {
  margin-top: 1rem;
}
@media only screen and (min-width: 768px) {
  .footer__logo-container {
    position: relative;
  }
}
@media only screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    bottom: 11.5rem;
    left: 37rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__text-copyright {
    padding-top: 1.5rem;
    margin-bottom: 0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}/*# sourceMappingURL=bio.css.map */