@use "./partials/resets";
@use "./partials/fonts";
@use "./partials/text-styles";
@use "./partials/components/header";
@use "./partials/components/mainContent";
@use "./partials/components/comments";
@use "./partials/components/footer";
