@use "./partials/fonts";
@use "./partials/text-styles";
@use "./partials/components/header";
@use "./partials/components/mainContent";
@use "./partials/components/footer";

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Avenir";
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}