html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Regular */
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNext-regular.ttf) format("truetype");
  font-weight: 400;
}
/* Demi */
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNext-demi.ttf) format("truetype");
  font-weight: 600;
}
/* Bold */
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNext-bold.ttf) format("truetype");
  font-weight: 700;
}
/* Mobile text styles */
/* Desktop text styles */
/* Primary colors */
/* Secondary colors */
/* Media query for mobile */
/* Media query for tablet */
/* Media query for high pixel density devices */
.header {
  background-color: #323232;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-top: 0.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .header {
    padding-top: 1rem;
    padding-left: 8rem;
  }
}
.header__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
@media only screen and (min-width: 768px) {
  .header__logo-container {
    margin: 0 2.5rem 0.5rem 0;
    padding-top: 0;
  }
}
.header__navigation {
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}
.header__list {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  margin-top: 0.2rem;
  margin-bottom: 0;
  width: 100%;
}
.header__list-item {
  list-style: none;
  color: #FFFFFF;
  width: 50%;
  text-align: center;
  padding-bottom: 0.5rem;
  font-weight: 300;
  font-size: 0.875rem;
}
.header__list-item--active {
  border-bottom: 0.25rem solid #FFFFFF;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .header__list-item {
    margin-left: 2rem;
  }
}
.header__list-link {
  text-decoration: none;
  color: #FFFFFF;
}

/* Hero section */
.hero__title-container {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero-shows.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 50vh;
  color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .hero__title-container {
    height: 60vh;
    background-position: 70% 30%;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__title-container {
    display: flex;
    align-items: center;
    height: 80vh;
  }
}
.hero__title-album {
  margin-top: 0;
  padding: 2rem 1rem 1rem;
}
@media only screen and (min-width: 768px) {
  .hero__title-album {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding-top: 3rem;
    padding-bottom: 0;
    margin-left: 1rem;
    margin-bottom: 0;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__title-album {
    margin-left: 6rem;
  }
}
.hero__title {
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
@media only screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
    font-size: 3rem;
    padding-left: 1rem;
    letter-spacing: 0.1rem;
    line-height: 3.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
    margin-left: 6rem;
  }
}
.hero__iframe {
  padding: 1rem 0.5rem 1.5rem 1.5rem;
  width: 95%;
  height: 25vh;
}
@media only screen and (min-width: 768px) {
  .hero__iframe {
    width: 50%;
    height: 25vh;
    padding-left: 2rem;
    padding-bottom: 3rem;
    height: 30vh;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__iframe {
    width: 100%;
    margin-left: 4rem;
    margin-top: 5rem;
  }
}

.shows {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 1.5rem 1.5rem;
}
@media only screen and (min-width: 768px) {
  .shows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1280px) {
  .shows {
    width: 65%;
    margin-left: 20rem;
  }
}
.shows__item {
  width: 25%;
}
.shows__item-wrapper {
  border-bottom: 1px solid #E1E1E1;
}
@media only screen and (min-width: 768px) {
  .shows__item-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 768px) {
  .shows__item-wrapper:hover {
    background-color: #E1E1E1;
  }
}
.shows__title-main {
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-left: 1.5rem;
}
@media only screen and (min-width: 1280px) {
  .shows__title-main {
    padding-left: 6rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
.shows__title-date, .shows__title-venue, .shows__title-location {
  display: none;
  padding-left: 0.85rem;
}
@media only screen and (min-width: 768px) {
  .shows__title-date, .shows__title-venue, .shows__title-location {
    display: block;
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #AFAFAF;
    width: 25%;
    list-style: none;
  }
}
.shows__title {
  display: flex;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-left: 1rem;
  margin-bottom: 0;
}
@media only screen and (min-width: 1280px) {
  .shows__title {
    width: 65%;
    margin-left: 20rem;
  }
}
.shows__item--display-title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #AFAFAF;
  text-transform: uppercase;
  padding-top: 0rem;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 0.6rem;
}
@media only screen and (min-width: 768px) {
  .shows__item--display-title {
    display: none;
  }
}
.shows__item-text {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .shows__item-text {
    padding-top: 1.5rem;
  }
}
.shows__item-text-date {
  font-weight: 600;
}
.shows__item-button {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-size: 0.875rem;
  margin-top: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  color: #FFFFFF;
  background-color: #323232;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .shows__item-button {
    max-width: 20%;
    margin-bottom: 1rem;
    font-weight: 400;
  }
}
.shows__item-button:hover {
  background-color: #000000;
  transition: 0.3s ease-in-out;
}

.footer {
  position: relative;
  background-color: #323232;
  padding: 1rem;
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 2rem 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 2rem 6rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__title-icon-container {
    display: flex;
    align-items: center;
  }
}
.footer__title {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .footer__title {
    margin-right: 1.5rem;
  }
}
.footer__icons-container {
  padding-bottom: 0.5rem;
}
.footer__icon {
  margin-right: 1.2rem;
  width: 1.5rem;
  height: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .footer__icon {
    margin-left: 0.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__icon {
    margin-right: 0.5rem;
  }
}
.footer__text-title {
  font-weight: 600;
}
.footer__text-subtitle {
  margin-top: 0;
  font-weight: 600;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .footer__text-subtitle {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__text-subtitle {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__text {
    margin-bottom: 1.5rem;
  }
}
.footer__text-email {
  color: #FFFFFF;
  text-decoration: none;
}
.footer__content-container {
  max-width: 1280px;
}
@media only screen and (min-width: 768px) {
  .footer__content-container {
    display: flex;
    align-items: center;
    padding-top: 0;
  }
}
.footer__content {
  margin-top: 2rem;
}
@media only screen and (min-width: 768px) {
  .footer__content {
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__content {
    padding-right: 5rem;
  }
}
.footer__logo-container {
  margin-top: 4rem;
}
@media only screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 3rem;
    left: 38rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__logo {
    top: 3rem;
    left: 67rem;
  }
}
.footer__text-copyright {
  width: 100%;
  font-size: 0.6rem;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .footer__text-copyright {
    margin-bottom: 0;
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=shows.css.map */