@use "./partials/resets";
@use "./partials/fonts";
@use "./partials/text-styles";
@use "./partials/colors";
@use "./partials/components/header";
@use "./partials/components/mainContentShows";
@use "./partials/components/footer";
